.header-table ion-row {
    border-bottom: 1px solid #dcdcdc;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.header-table ion-col {
    border-bottom: 1px solid #dcdcdc;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}




  